
.cart{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display:flex;
    flex-wrap: wrap;
}
th{
    padding: 5px;
    color:#fff;
    background: #000;
}
td{
    padding: 10px 5px;

}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    font-weight: 12px;
    color: #ff532b;
}
.subtotal{
    display: flex;
    justify-content: flex-end;
}
.subtotal table{
    border-top: 3px solid rgb(15, 12, 12);
    width: 100%;
    max-width: 350px;


}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}