@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.hero,
.hero .glide__slides {
  position: relative;
  height: calc(100vh - 6rem);
  margin: 0 4rem;
  border-radius: 10px;
  overflow: hidden;
}

.hero .center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding-top: 3rem;
}

.hero .left {
  position: absolute;
  top: 0%;
  left: 25rem;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.hero .left h1 {
  font-size: 3rem;
  width:50%;
  
  margin: 1rem 0;
}

.hero .left p {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  width: 50%;
}

.hero .left .hero-btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  border-radius: 10px;
  background-color:yellow;
  color: black;
}
 a{
  text-decoration: none;
}
.hero-btn:hover{
  cursor:pointer;
}
.hero .right {
  flex: 0 0 50%;
  height: 100%;
  position: relative;
  
}

.hero .right img {
  position: absolute;
  width: 55rem;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.center .right img.img1 {
  width: 85%;
  right: -25%;
  bottom: -50%;
}

.center .right img.img2 {
  width: 90%;
  right: -40%;
  bottom: -40%;
}

.glide__slide--active .center .right img {
  bottom: -3%;
  opacity: 1;
}

.glide__slide--active .left {
  opacity: 1;
  top: 10%;
}

@media only screen and (max-width: 1500px) {
  .hero .left {
    left: 0;
  }
}
@media only screen and (max-width: 999px) {
  .glide__slide--active .left {
    top: 15%;
  }

  .center .right img.img1 {
    width: 90%;
  }

  .center .right img.img2 {
    width: 100%;
  }
}

@media only screen and (max-width: 567px) {
  .center .right img.img1 {
    width: 30rem;
  }

  .center .right img.img2 {
    width: 33rem;
  }

  .hero,
  .hero .glide__slides {
    margin: 0;
    padding: 0 3rem;
  }

  .hero .left h1 {
    font-size: 3rem;
    z-index: 1;
  }

  .hero .left p {
    font-size: 1.5rem;
    width: 80%;
    z-index:-1;
  }
}